:root{
    --baby-blue-color: #BBDCE5;
    --background-color: #605B51;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--baby-blue-color);
    background-image: url(assets/tamagotchi-background-web.svg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
}

.selected {
    background-color: #d6ff2185 !important;
}

#tamagotchiBackground{
    position: relative;
    width: 70vmin;
    height: 70vmin;

    #tamagotchiHolder{
        position: absolute;
        top: -5vmin;
        width: 70vmin;
        height: auto;
    }

    #egg-shape-background{
        /* filter: drop-shadow(0 0 10px #c58c3d); */
        position: relative;
        height: auto;
        left: 7vmin;
        width: 50vmin;
    }

    #breaking-egg-shape-background{
        svg{
            filter: drop-shadow(0 0 5px #393d46);
        }
        position: absolute;
        top: 11vmin;
        width: 40vmin;
        left: 12vmin;

        #tamagotchiScreen{
            pointer-events: none;
            position: absolute;
            top: -2vmin;
            display: grid;
            width: 40vmin;
            aspect-ratio: 1 / 1.3;
            grid-template-columns: 1.5fr 2fr 4fr 2fr 1.5fr;
            grid-template-rows: 1.5fr 6fr 3fr;
            grid-template-areas: ". . . . ."
                                ". gameSection gameSection gameSection ."
                                ". . . . .";

            #gameSection{
                grid-area: gameSection;
                justify-self: center;
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                background-color: var(--background-color);
                border-radius: 10px;
                box-shadow: inset #454040 0 0 10px 5px;

                p {
                    display: flex;
                    justify-content: center;
                }

                #newPetMenu {
                    grid-area: gameSection;
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    justify-self: center;

                    background-color: var(--background-color);

                    border-radius: 10px;
                    box-shadow: inset #454040 0 0 10px 5px;

                    p {
                        font-weight: bold;
                    }

                    .petSelect {
                        display: flex;

                        min-height: 3.5vmin;
                        padding: 0.9vmin 0;

                        .option {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            width: 8vmin;
                            height: 2.5vmin;

                            margin: 0 10%;

                            border-radius: 10px;
                            border: #000 1px solid;

                            background-color: #000;
                            color: var(--background-color);

                            font-weight: bold;
                        }
                    }

                    .petImages {
                        .previewCat {
                            background: url("./assets/pet one sprites verbeterd (2 breed).png");

                            height: 8vmin;
                            width: 8vmin;

                            background-repeat: no-repeat;
                            background-size: 300%;
                            background-position: -1.6vmin -1.8vmin;
                        }
                    }

                    .arrowWrapper {
                        height: 10%;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        justify-content: space-around;

                        .petArrow {
                            width: 2.5vmin;
                        }
                    }
                }

                #statusBarWrapper{
                    display: flex;
                    flex-direction: row;

                    justify-content: space-around;
                    height: 20%;
                    border-bottom: black solid 1px;

                    #hungerWrapper, #energyWrapper, #hygeneWrapper{
                        text-align: center;
                        width: 33%;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        p{
                            margin: 0.5vmin;
                        }
                    }

                    #hungerWrapper{
                        border-top-left-radius: 10px;
                    }

                    #hygeneWrapper{
                        border-top-right-radius: 10px;
                    }

                    #energyWrapper {
                        border-left: black solid 1px;
                        border-right: black solid 1px;
                    }

                    .barWrapper {
                        width: 80%;
                        border: #000 1px solid;
                        margin: 0 10%;
                        height: 0.8vmin;
                        border-radius: 10px;
                    }

                    #hungerBar, #energyBar, #hygeneBar{
                        height: 0.8vmin;
                        overflow: hidden;
                        border-radius: 10px;
                    }
                }

                #homeSection{
                    height: 100%;
                    background-color: var(--background-color);
                    border-radius: 0 0 10px 10px;
                    box-shadow: inset #454040 0 -10px 10px 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    #bubbleWrapper{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        justify-items: center;

                        .alertBubble {
                            font-size: 1.2vmin;
                            font-weight: bold;

                            padding: 0.2vmin 0.7vmin;
                            margin-top: 0.9vmin;

                            color: var(--background-color);
                            background-color: #000;
                            border-radius: 15px;
                        }
                    }

                    #petWrapper{
                        margin: 0 auto;

                        #petSprite{
                            height: min(15vmin, 150px);
                            width: min(15vmin, 150px);
                            

                            background-repeat: no-repeat;
                            background-size: 282%;
                        }
                    }

                    #logBar {
                        background-color: #000;
                        color: var(--background-color);

                        text-align: center;

                        border-radius: 10px;
                        width: 75%;

                        margin: 0 auto 0.5vmin auto;
                    }
                }
            }
        }

        #gameButtonsSection{
            position: absolute;
            top: 40vmin;
            display: grid;
            column-gap: 4vmin;
            grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: ". previousRoom . nextRoom ."
                                 ". . selectButton . .";

            #leftButton{grid-area: previousRoom;}
            #selectButton{grid-area: selectButton;}
            #rightButton{grid-area: nextRoom;}

            #leftButton, #selectButton, #rightButton{
                filter: none;
                align-self: center;
                width: 5vmin;
                height: 5vmin;
                border-radius: 50%;
                border: rgb(211, 208, 208) solid 1px;
                box-shadow: 0 0 10px black;
                color: #fff;
            }

            #leftButton, #rightButton{
                background-color: var(--background-color);
            }

            i {
                font-size: 5vmin;
                color: #fff;
                margin: -0.2vmin 0 0 -1.5vmin;
            }

            i:hover{ 
                color: #d1d1d1;
            }

            #selectButton:hover{
                background-color: #d1d1d1;
            }
        }
    }
}
